div#suggestions-panel.panel.panel-primary
  div.panel-heading Suggestions
  div.panel-body
    div(data-ng-controller='SuggestionsIndexController')
      div(data-ng-controller='SuggestionsGridController')
        div.suggestions-grid(data-ui-grid='suggestionsGrid', data-ui-grid-selection)
        form
          div.form-group
            div(data-ng-controller='DialogTestController')
              script(type='text/ng-template', id='templateId')
                div.panel.panel-primary
                  div.panel-heading Send Notice
                  div.panel-body
                    select.form-control
                      option Approved
                      option Denied
                      option Other
                    br
                    input.form-control(type='text', placeholder='Enter bib# here.')
                    br
                    textarea.form-control(rows='10')
                      | Hello $name,
                      | #{' '}
                      | Your item $title was approved!
                      | #{' '}
                      | Bye!
                    form
                      div.form-group
                        button.btn.btn-success.pull-right Send
              button.btn.btn-default.pull-right(data-ng-click='notifyClick()') Notify
