div.container-fluid.fill(data-ng-controller='SuggestionsIndexController')
  div.fill
    div.fill
      div#suggestions-panel.panel.panel-default.fill
        div.panel-heading Suggestions
          span#suggestions-count-badge.badge {{ suggestionsGrid.data.length }}
          div.input-group.pull-right
              div.btn-group
                a.btn.btn-xs.btn-default(data-ui-sref='suggestions#new')
                  i.fa.fa-plus-square
                  | &nbsp;New Suggestion
                a.btn.btn-xs.btn-default.pull-right(data-ng-click='notifyClick()',
                                                    data-ng-disabled='suggestionsGridSelectionCount == 0',
                                                    data-ng-class='suggestionsGridSelectionCount == 0 ? "btn-default" : "btn-success"')
                  i.fa.fa-envelope
                  | &nbsp;Send Notice
        div.panel-body
          div.fill
            div.fill(data-ng-controller='SuggestionsGridController')
              div.fill(data-ui-grid='suggestionsGrid', data-ui-grid-selection, ui-grid-auto-resize)
             // div.form-group
                button.btn.btn-default.pull-right(data-ng-click='notifyClick()') Notify
          // form(novalidate)
            div.form-group
              div(data-ng-controller='DialogTestController')
                script(type='text/ng-template', id='templateId')
                  div.panel.panel-primary
                    div.panel-heading Send Notice
                    div.panel-body
                      select.form-control
                        option Approved
                        option Denied
                        option Other
                      br
                      input.form-control(type='text', placeholder='Enter bib# here.')
                      br
                      textarea.form-control(rows='10')
                        | Hello $name,
                        | #{' '}
                        | Your item $title was approved!
                        | #{' '}
                        | Bye!
                      form
                        div.form-group
                          button.btn.btn-success.pull-right Send
