doctype jade
html(data-ng-app='SuggestionNotifierApp')
  head
    meta(charset='utf8')
    base(href='/')
    title= title
    link(href='http://fonts.googleapis.com/css?family=Ubuntu+Mono', rel='stylesheet', type='text/css')
    //- link(rel='stylesheet', href='/javascripts/lib/bootstrap/css/bootstrap.min.css')
    //- link(rel='stylesheet', href='/javascripts/lib/bootstrap/css/bootstrap-responsive.min.css')

  body
    div(data-ng-controller='MainCtrl')
      include header
      block content
      include footer
