extends layout

block content

  div#app-container.container-fluid.fill(data-ng-cloak)
    nav#app-navbar.navbar.navbar-default.navbar-fixed-top
      div.container-fluid
        div.navbar-header
          div.navbar-brand
            img(src='images/logo.png')
        div.collapse.navbar-collapse
          ul.nav.navbar-nav.pull-left
            li
              p.navbar-text
                a(ui-sref='suggestions#index') notify
          ul.nav.navbar-nav.pull-right
            li
              div.btn-toolbar
                div.btn-group
                  a#console-btn.btn.btn-xs.btn-default(data-ng-click='consoleClick()',
                                                            ng-class='{ "disabled": !footerCollapsed }')
                    i.fa.fa-terminal
                  a#settings-btn.btn.btn-xs.btn-default(data-ng-click='settingsClick()')
                    i.fa.fa-cog
                div.btn-group
                  a#logout-btn.btn.btn-xs.btn-default(data-ng-click='logoutClick()')
                    i.fa.fa-sign-out
                    | &nbsp;Logout

    div#app-body.fill
      div#app-main-view(ng-class='footerCollapsed || $state.current.name == "console#index" ? "app-main-view-full" : "app-main-view-default"')
        data-ui-view
      div#app-footer-view(ng-include='MODULE_PATH + "console/console.index.html"',
                          ng-class='footerCollapsed || $state.current.name == "console#index" ? "app-footer-view-collapsed" : "app-footer-view-default"')