extends layout

block content
  div#app-container.container-fluid.fill(ng-cloak)
    nav#app-navbar.navbar.navbar-default.navbar-fixed-top(ng-show='auth.isAuthenticated')
      div.container-fluid
        div.navbar-header
          div.navbar-brand
            img(src='images/logo.png')
          button.navbar-toggle(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
            span.sr-only Toggle navigation
            span.fa.fa-bars.fa-fw

        div.collapse.navbar-collapse
          ul.nav.navbar-nav.pull-right
            li
              div.btn-toolbar
                div.btn-group
                  a#console-btn.btn.btn-xs.btn-default(ng-click='consoleClick()',
                                                       ng-class='{ "disabled": !footerCollapsed }')
                    i.fa.fa-terminal
                  a#settings-btn.btn.btn-xs.btn-default(ng-click='settingsClick()')
                    i.fa.fa-cog
                div.btn-group
                  a#logout-btn.btn.btn-xs.btn-default(ng-click='logoutClick()')
                    i.fa.fa-sign-out
                    | &nbsp;Logout

    div#app-body.fill
      div#app-main-view(ng-class='footerCollapsed || uiRouterState.current.name == "console#index" ? "app-main-view-full" : "app-main-view-default"')
        ui-view
      div.fill(ng-if='auth.isAuthenticated')
        div#app-footer-view(ng-class='footerCollapsed || uiRouterState.current.name == "console#index" ? "app-footer-view-collapsed" : "app-footer-view-default"')
          include ../modules/console/console.index.jade

