doctype html
html(data-ng-app='app')
  head
    meta(charset='utf8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-capable', content='yes')
    base(href='/')
    title= title
    style [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { display: none !important; }
    // bower:css
    // endbower
    // inject:css
    // endinject

  body(data-ng-controller='AppController', ng-class='{ notLogged: !auth.isLogged }')
    block content
    script(src='/socket.io/socket.io.js')
    // bower:js
    // endbower
    // inject:js
    // endinject
