/* angular-ui-bootstrap fix */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

@media screen and (max-width: 768px) {
  body {
    padding-top: 0px;
    overflow: hidden;
  }
  .navbar-header {
    margin: 0px !important;
  }
}

html, body, #app-container {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #585858;
}

::selection {
    background: #e8c7d6;
    color: #ffffff;
}
::-moz-selection {
    background: #e8c7d6;
    color: #ffffff;
}

.ui-grid-row {
  height: 24px !important;
}

.ui-grid-row.ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell {
  background: #e8c7d6 !important;
}

.ui-grid-column-menu-button-last-col {
  margin-right: 0px !important;
}

.ui-grid-top-panel {
  background: #f6f2ef !important;
}

.ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-header-cell:last-child {
  border-right: 0px !important;
}

.ui-grid-row .ui-grid-cell.ui-grid-row-header-cell {
  background-color: #f6f2ef !important;
}

.ui-grid-header-cell {
  border-right: 0px !important;
}

.ui-grid-header-cell:last-child .ui-grid-column-resizer.right {
  border-right: 0px !important;
}

.ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-cell:last-child {
  border-right-color: #d4d4d4 !important;
}

.ui-grid-cell {
  border-right: 0px;
}

.well {
    padding: 20px;
}

#app-navbar {
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #f6f2ef;
  border-color: #dddddd;
}

#logout-btn {
  margin-right: 4px;
}

#test {
    background-color: orange;
}

#suggestions-view {
  height: 70%;
  padding-bottom: 4px;
}

#suggestions-panel {
    position: relative;
}

#suggestions-panel .panel-heading {
  position: absolute;
  width: 100%;
  top: 0;
  padding: 8px 8px;
}

#suggestions-panel .panel-body {
  position: absolute;
  width: 100%;
  top: 41px;
  bottom: 0px;
  padding: 8px;
}

#suggestions-panel .panel-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#suggestions-count-badge {
  margin-left: 6px;
}

#console-view {
    height: 30%;
}

#console-panel {
    position: relative;
    margin-bottom: 0px !important;
}

#console-panel .panel-heading {
    position: absolute;
    width: 100%;
    top: 0;
}

#console-panel .panel-body {
    position: absolute;
    width: 100%;
    top: 0px;
    bottom: 32px;
    padding: 8px;
}

#console-panel .panel-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#app-body {
    padding: 55px 4px 4px 4px;
    background-color: #585858 !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1;
}

.fill {
  height: 100%;
  min-height: 100%;
}

.navbar-brand {
  margin-left: 0px !important;
  padding: 11px 0px 0px 10px !important;
}

.navbar-text {
  background-color: #585858 !important;
  color: #f6f2ef !important;
  padding:  16px 10px 0px 10px !important;
  font-size: 13px !important;
  font-weight: bold !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  margin-left: 10px !important;
  height: 50px;
}

.navbar-btn {
    margin-top: 14px !important;
}

.form-group.required .control-label:after {
  content:"*";
  color:red;
}

.container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.badge {
  background: #777777 !important;
}

.panel-default > .panel-heading {
  background-color: #f6f2ef !important;
}

.ngdialog.ngdialog-theme-default {
  padding-top: 96px !important;
  padding-bottom: 0px !important;
}
@media screen and (max-width: 768px) {
    .ngdialog.ngdialog-theme-default {
        padding-top: 0px !important;
    }

    .ngdialog.ngdialog-theme-default .ngdialog-content {
        padding: 1em 1em 0em 1em !important;
        margin: 0px !important;
        width: 100% !important;
    }
}