extends layout

block content

  div#app-container.container-fluid.fill(data-ng-cloak)
    nav#app-navbar.navbar.navbar-default.navbar-fixed-top
      div.container-fluid
        div.navbar-header
          div.navbar-brand
            img(src='images/logo.png')
        div.collapse.navbar-collapse
          ul.nav.navbar-nav.pull-right
            p.navbar-btn
              a#logout-btn.btn.btn-xs.btn-danger(href='#')
                i.fa.fa-cog
                | &nbsp;Settings
              a#logout-btn.btn.btn-xs.btn-default(href='#')
                i.fa.fa-sign-out
                | &nbsp;Logout
    //div(data-ng-controller='AlertController')
    //  alert(data-ng-repeat='alert in alerts', data-type='{{alert.type}}', close='closeAlert($index)') {{alert.msg}}
    //br

    div#app-body.fill
      div#suggestions-view(data-ui-view)
      div#console-view
        div#console-panel.panel.panel-default.fill
          div.panel-body
            div.chatroom-message-list.fill
              ui-chatroom(data-messages='messages',
                          data-input='message',
                          data-username='name',
                          data-on-submit='sendMessage')