extends layout

block content
  nav#mainnavbar.navbar.navbar-default.navbar-fixed-top
    div.container-fluid
      div.navbar-header
        div.navbar-brand Suggestion Notifier
      div.collapse.navbar-collapse
        ul.nav.navbar-nav
          li(dropdown)
            a(dropdown-toggle, href='#', data-toggle='dropdown', role='button', aria-expanded='false') Suggestions
              span.caret
            ul.dropdown-menu(role='menu')
              li #[a(data-ui-sref='suggestions#index') List]
              li #[a(data-ui-sref='suggestions#new') New]
          li #[a(data-ui-sref='#') Admin]


  div(data-ng-controller='AlertController')
    alert(data-ng-repeat='alert in alerts', data-type='{{alert.type}}', close='closeAlert($index)') {{alert.msg}}
    button.btn.btn-default(data-ng-click='addAlert()') Add Alert
  br

  div(data-ui-view)