doctype html
html(data-ng-app='app')
  head
    meta(charset='utf8')
    base(href='/')
    title= title
    style [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { display: none !important; }
    // inject:css
    // endinject

  body
    block content
    // inject:js
    // endinject
