extends layout

block content
  h1 Suggestion Notifier: index.jade
  div(data-ng-controller='AppController')
  div(data-ng-repeat='suggestion in suggestions' data-ng-controller='SuggestionsIndexController as siCtrl')
    div {{suggestion.id}}
    div {{suggestion.title}}
    div {{suggestion.author}}
        
