div(ng-controller='SettingsIndexController')
  form.form-horizontal(novalidate='')
    legend Settings
    fieldset
      ng-include(src='MODULE_PATH + "templates/templates.index.html"')
    fieldset
      ng-include(src='MODULE_PATH + "users/users.index.html"')
    div.form-group
      div.col-sm-12
        button.btn.pull-right.btn-primary(ng-click='closeThisDialog()') Close
