div(ng-controller='TemplatesIndexController')
  div#templates-form.form-group
    label.control-label.col-sm-3 Templates
    div.col-sm-9
      div.form-inline
        div
          select.form-control(ng-model='templatesForm.id',
                              ng-options='template.id as template.title for template in templates',
                              required)
            option(value='') New Notification Template
          div.btn-group(ng-switch='templatesForm.id', role='group')
            div(ng-switch-when='undefined')
              a.btn.btn-primary(ng-click='addTemplateClicked()') Add
            div.btn-group(ng-switch-default)
              a.btn.btn-primary.form-control(ng-click='editTemplateClicked()') Edit
              a.btn.btn-danger.form-control(ng-click='deleteTemplateClicked()') Delete
